[submodule ".vim/plugged/nerdtree-git-plugin"]
	path = .vim/plugged/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/plugged/coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".vim/plugged/ctrlp.vim"]
	path = .vim/plugged/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/plugged/vim-surround"]
	path = .vim/plugged/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/plugged/md-img-paste.vim"]
	path = .vim/plugged/md-img-paste.vim
	url = git@github.com:ferrine/md-img-paste.vim.git
[submodule ".vim/plugged/vim-markdown"]
	path = .vim/plugged/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/plugged/tabular"]
	path = .vim/plugged/tabular
	url = git@github.com:godlygeek/tabular.git
